<div class="container" id="certificados">
  <h1><u>Certificados</u></h1>
  <div class="certificados">
    <a href="https://drive.google.com/file/d/1X8AO_po62K6OguOreTqeSvMuLkhw6HSv/view" target="_blank"><img src="../../../assets/certificados/fullstack.PNG" alt=""></a>
    <a href="https://drive.google.com/file/d/1FdkzcwRuIdPrGD-JfiVaGG3lUV0WLayD/view" target="_blank"><img src="../../../assets/certificados/scrum.PNG" alt=""></a>
    <a href="https://drive.google.com/file/d/1eMQk_s-L4JugKilt-Ra4pcBwoPl6OlPm/view" target="_blank"><img src="../../../assets/certificados/js.PNG" alt=""></a>
    <a href="https://drive.google.com/file/d/1o1bFZDD2dsblFTEAf9A7L4ZT_LLwRH_Y/view" target="_blank"><img src="../../../assets/certificados/python.PNG" alt=""></a>
  </div>
</div>

