
<div id="projetos">
    
</div>
<h1><u>Projetos</u></h1>
<div class="container">
    <div class="port">
        <img src="../../../assets/img_projetos/ibm-projeto.PNG" alt="">
        <p>Site de guia de implementação do IBM Guardium.</p>
        <h3>Tecnologias</h3>
       
        <span>
            Springboot
        </span>
        <span>
            Java
        </span>
        <span>
            HTML
        </span>
        <span>
            CSS
        </span>
        <span>
            Bootstrap   
        </span>
        <div class="links">
            <a href="https://github.com/IsaacgDias/html_ibm" target="_blank"><button><img src="../../../assets/github-logo_icon-icons.com_73546.png" alt="" class="img-link">Repositorio</button> </a>
            <a href="https://isaacgdias.github.io/html_ibm/index.html" target="_blank"><button><img src="../../../assets/local-na-rede-internet.png" alt="" class="img-link">Ver projeto</button></a>
        </div>
    </div>
    <div class="port">
        <img src="../../../assets/img_projetos/pr_banco.PNG" alt="">
        <p>Sistema de extrato bancário com filtragem de dados.</p>
        <h3>Tecnologias</h3>
       
        <span>
            Springboot
        </span>
        <span>
            Java
        </span>
        <span>
            HTML
        </span>
        <span>
            CSS
        </span>
        <span>
            React
        </span>
        <div class="links">
            <a href="https://github.com/IsaacgDias/supera-FrontEnd-React" target="_blank"><button><img src="../../../assets/github-logo_icon-icons.com_73546.png" alt="" class="img-link">Repositorio</button> </a>
        </div>
    </div>
    <div class="port">
        <img src="../../../assets/img_projetos/chamada-virtual.PNG" alt="">
        <p>Sistemas de chamadas de alunos.</p>
        <h3>Tecnologias - Projeto em andamento</h3>
       
        <span>
            Springboot
        </span>
        <span>
            Java
        </span>
        <span>
            HTML
        </span>
        <span>
            CSS
        </span>

        <div class="links">
            <a href="https://github.com/IsaacgDias/Chamada-Virtual" target="_blank"><button><img src="../../../assets/github-logo_icon-icons.com_73546.png" alt="" class="img-link">Repositorio</button> </a>
        </div>
    </div>
</div>
