header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: rgb(17,70,39);
    background: linear-gradient(0deg, rgba(17,70,39,1) 0%, rgba(0,0,0,1) 100%);
    color: #ffffff;
    border: 1px solid #000;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    height: auto;
}

header > ul {
    display: flex;
    list-style: none;
}
header > ul > li {
    padding: 0 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header > ul > li {
  padding: 0 20px;
  opacity: 0; 
  animation: fadeIn 0.5s ease-in-out; 
  animation-fill-mode: forwards; 
}

/* animações segundos na li */
header > ul > li:nth-child(1) {
  animation-delay: 2s; 
}

header > ul > li:nth-child(2) {
  animation-delay: 3s; 
}

header > ul > li:nth-child(3) {
  animation-delay: 4s; 
}

header > ul > li:nth-child(4) {
  animation-delay: 5s; 
}

@media (max-width: 390px) {
    
    header > ul > li {
         padding: 0 14px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
      
  }
  
  @media (min-width: 1025px) {
    /* Estilos para desktops */
    
  }