<div class="container" id="sobre">
    <h1><u>Sobre Mim</u></h1>
    <div class="container-foto-texto">
         <div class="foto">
        <img src="../../../assets/perfil.jpeg" alt="Foto perfil">
    </div>

    <div class="texto">
        <p>Sou formado em Técnico de Desenvolvimento de Sistemas e atualmente estou cursando graduação em Ciência da Computação. Em outubro de 2021, tive a oportunidade de realizar o curso de Desenvolvimento de Sistemas, onde pude participar de várias atividades e projetos práticos, nos quais aprendi a lidar com regras de negócio, a solucionar problemas e a trabalhar em equipe utilizando a metodologia Ágil.
            A minha paixão pela área de tecnologia da informação e o desejo de aprimorar os meus conhecimentos me levaram a ingressar na graduação em Ciência da Computação em 2022. Acredito que esta formação vai me preparar ainda mais para os desafios.</p>
    </div>
    </div>
  
</div>

<div class="btn">
    <a href="../../../assets/Isaac Gonçalves Dias.pdf"><button><img src="../../../assets/download.png" alt="Currículo">Currículo</button></a>
</div>
