<div class="container" id="skills">
    <h1><u>Principais Habilidades</u></h1>
    <div class="icones">
        <div class="icone">
            <img src="../../../assets/java.png" alt="Icone">
            <span>Java</span>
        </div>
        <div class="icone">
            <img src="../../../assets/php.png" alt="Icone">
            <span>PHP</span>
        </div>
        <div class="icone">
            <img src="../../../assets/html-5.png" alt="Icone">
            <span>HTML</span>
        </div>
        <div class="icone">
            <img src="../../../assets/css-3.png" alt="Icone">
            <span>CSS</span>
        </div>
        <div class="icone">
            <img src="../../../assets/js.png" alt="Icone">
            <span>JavaScript</span>
        </div>
        <div class="icone">
            <img src="../../../assets/angular.png" alt="Icone">
            <span>Angular</span>
        </div>
        <div class="icone">
            <img src="https://e7.pngegg.com/pngimages/931/804/png-clipart-spring-framework-software-framework-java-application-framework-web-framework-java-leaf-text.png" alt="Icone">
            <span>Springboot</span>
        </div>
        <div class="icone">
            <img src="../../../assets/bd.png" alt="Icone">
            <span>Banco de dados</span>
        </div>
    </div>
    
</div>
