<footer id="contato">
    <div class="email">
        isaacgdias@gmail.com
    </div>
    <ul>
        <a href="https://github.com/IsaacgDias" target="_blank"><li><img src="../../../assets/github (1).png" alt="" width="32" height="32"></li></a>
        <a href="https://www.linkedin.com/in/isaac-dias-2405a0237/" target="_blank"><li><img src="../../../assets/linkedin_icon-icons.com_65929.png" alt=""></li></a>
        <a href="https://api.whatsapp.com/send?phone=31988253415" target="_blank"><li><img src="../../../assets/whatsapp.png" alt="" width="32" height="32"></li></a>
    </ul>
</footer>
